<div class='canvas row justify-content-center'>
  <div #box1 id="box1" class="square" draggable="false">1</div>
  <div #box2 id="box2" class="square" draggable="false">2</div>
  <div #box3 id="box3" class="square" draggable="false">3</div>
  <div #box4 id="box4" class="square" draggable="false">4</div>
  <div #box5 id="box5" class="square" draggable="false">5</div>
  <div #box6 id="box6" class="square" draggable="false">6</div>
  <div #box7 id="box7" class="square" draggable="false">7</div>
  <div #box8 id="box8" class="square" draggable="false">8</div>
  <div #box9 id="box9" class="square" draggable="false">9</div>
</div>
